//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//


$primary:						#ffbf3c !default;
$primary-light: 				#ffeecc !default;
$primary-active:				#ffbf3c !default;
$primary-clarity: 				rgba(#ffbf3c, 0.2) !default;




$primary-dark:						#ffbf3c !default;
$primary-active-dark:				#ffbf3c !default;
$primary-light-dark: 				#332200 !default;
$primary-clarity-dark: 				rgba(#ffbf3c, 0.2) !default;